*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    
}
.hero{
    width: 100%;
    overflow: hidden;
    padding:0px 40px 0 40px;
    
   
img{
    max-width: 100%;
    height: auto;
    display: block;
  
}
}
nav{
    background-color: #805E73;
    padding: 10px;
    text-align: center;  
    padding:0px 20px 0 20px;
    height:30px;
a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
  }
}
  
.content{
border: 1px solid red;
    text-align: center;
    background-color: #F4F1DE;
    min-height: 50vh; 
    padding:0px 20px 0px 20px;
   
  h1{
    margin-bottom: 20px;
    color: #3D405B;
  }
  p{
    color: #3D405B;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
  }
}
footer{
    background-color: #805E73;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 14px;  
    padding:0px 20px 0 20px;
}